.about-textar h2{

    font-size: 40px;
    margin-bottom: 100px;

}

.about-textar p{

    font-size: 20px;
    

}

.madde{

    margin-top: 50px;

}

ul{

    margin-top: 20px;

}

li{

    margin-bottom: 20px;

}

.blur{

    margin-bottom: 200px;

}

h1{

    font-size: 50px;
    position: absolute;
    top: 70%;
    left: 30%;


}

.home-imga{

    display: inline-block;
    position: absolute;
    top: 15%;
    left: 35%;

}

.des{

    font-size: 22px;
    position: absolute;
    top: 80%;
    left: 10%;

}

@media (max-width: 1410px) {

    .home-imga,
    h1,
    .des{

        display: none;

    }
    
}