* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --defborder: #2b2b2b;
  --yakinda: #838181;
  --defcont: rgba(12, 13, 16, 0);
  --bg-color: #0c0d10;
  --text-color: #fff;
  --second-color: #fff;
  --main-color: #A33129;
  --blussem: #ffc0cb;
  --big-font: 3.8rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

::selection {
  background: var(--main-color);
  color: #000000;
}

::-moz-selection {
  background: var(--main-color);
  color: #000000;
}

.mtxt {

  color: red;
  margin-bottom: 40px;
  display: none;

}

#work {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 60px;
  -webkit-animation-name: routate;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: routate;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes routate {
  0% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  50% {
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }

  100% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

@keyframes routate {
  0% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  50% {
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }

  100% {
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

#work #wire {
  margin: 0 auto;
  height: 130px;
  width: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px var(--defcont);
  background: var(--bg-color);
  border: 5px var(--defborder) solid;
}

#work #c1 {
  position: absolute;
  z-index: 5;
  bottom: 0;
  height: 300px;
}

#work .light {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  background: rgba(255, 155, 0, 0.08);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 1s;

  animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
  0% {
    background: rgba(255, 155, 0, 0.08);
  }

  50% {
    background: rgba(255, 155, 0, 0.04);
  }

  100% {
    background: rgba(255, 155, 0, 0.08);
  }
}

@keyframes flash {
  0% {
    background: rgba(255, 155, 0, 0.08);
  }

  50% {
    background: rgba(255, 155, 0, 0.04);
  }

  100% {
    background: rgba(255, 155, 0, 0.08);
  }
}

#fanos {
  height: 380px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

#small-circle {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #261647;
  border: 5px var(--defborder) solid;
  position: relative;
  z-index: 5;
}

#half-circle {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #40315a;
  border: 5px var(--defborder) solid;
}

#bottom-quppa {
  margin: 0 auto;
  position: relative;
  top: 50px;
  z-index: 3;
}

#line {
  margin: 0 auto;
  width: 200px;
  height: 30px;
  padding-top: 3px;
  background: #261647;
  border: 5px var(--defborder) solid;
  overflow: hidden;
  text-align: center;
}

#line .ball {
  width: 15px;
  height: 15px;
  margin: auto 5px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #40315a;
  border: 5px var(--defborder) solid;
}

#top-triangle {
  margin: 0 auto;
  width: 210px;
  height: 0;
  border-left: 25px transparent solid;
  border-right: 25px transparent solid;
  border-bottom: 30px var(--defborder) solid;
  position: relative;
  top: -5px;
}

#top-triangle:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 5px;
  width: 155px;
  height: 0;
  border-left: 15px transparent solid;
  border-right: 15px transparent solid;
  border-bottom: 20px #40315a solid;
}

#box {
  width: 170px;
  margin: 0 auto;
  height: 180px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  top: -10px;
  z-index: 1;
  border: 5px var(--defborder) solid;
}

#box #candel {
  height: 60px;
  width: 30px;
  background: #ffffff;
  border: 5px var(--defborder) solid;
  border-bottom: 0;
  position: absolute;
  z-index: 1;
  left: 65px;
  bottom: 0;
}

#box #candel:after {
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  top: -20px;
  width: 10px;
  height: 15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #ff9b00;
  border: 5px var(--defborder) solid;
}

#box #col {
  margin: 0 auto;
  width: 90px;
  height: 170px;
  border-left: 5px var(--defborder) solid;
  border-right: 5px var(--defborder) solid;
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
}

#final {
  position: relative;
  z-index: 4;
  top: -15px;
}

#last-triangle {
  margin: 0 auto;
  width: 245px;
  height: 0;
  border-left: 25px transparent solid;
  border-right: 25px transparent solid;
  border-bottom: 25px var(--defborder) solid;
  position: relative;
  top: -5px;
}

#last-triangle:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 5px;
  width: 190px;
  height: 0;
  border-left: 15px transparent solid;
  border-right: 15px transparent solid;
  border-bottom: 15px #40315a solid;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  border-right: 1px solid var(--defborder);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
  position: fixed;
  width: 80px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all 0.4s ease;
}

.yakinda {
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 5px;
  font-size: 8px;
  border-radius: 5px;
  margin-left: 10px;
  animation: keybidings 1s ease-in;
}

.shelter,
.shel {
  margin-top: 30px;
  border-radius: 10px;
  transition: all 0.3s;
}

.shelter:hover,
.shel:hover {
  box-shadow: 0px 0px 5px 0px white;
  backdrop-filter: blur(20px);
}

.shelter h2,
.shel h2 {
  color: white;
}

.shelter .noshel,
.shel .noshel {
  color: white;
}

.shel ul a,
.shelter ul a {
  margin: 20px;
  color: rgb(143, 143, 143);
  transition: all 0.3s;
}

.shel ul a:hover,
.shelter ul a:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--defborder);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}

.logo img {
  height: auto;
  position: absolute;
  left: 10px;
  top: 30px;
  width: 60px;
  max-width: 100%;
}

.logo2 img {
  height: auto;
  position: absolute;
  left: 10px;
  bottom: 30px;
  width: 60px;
  max-width: 100%;
}

.navbar {
  font-size: 24px;
  display: inline-block;
}

.navbar a {
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--p-font);
  padding: 10px 22px;
  transition: all 0.4s ease;
}

.navbar i {

  font-size: 24px;
  margin-top: 20px;
}

.navbar a:hover,
.navbar span:hover {
  color: var(--main-color);
}

.navbar a span {

  position: absolute;
  display: block;
  left: 100px;
  top: 42%;
  width: 100%;
  display: none;
  font-size: 15px;

}

.header-icons {
  display: inline;
  position: absolute;
  padding: 10px 22px;
  bottom: 30px;
  align-items: center;
}

.header-icons i {
  margin-left: 10px;
  font-size: 24px;
  color: var(--text-color);
  transition: all 0.4s ease;
  margin-right: 15px;
}

.header-icons .ssshh i {
  color: var(--yakinda);
}

.header-icons i:hover {
  transform: scale(1.2);
  color: var(--main-color);
}

#menu-icon {
  font-size: 34px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("https://i.hizliresim.com/sb8pthr.gif") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 80px 13%;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

.home-shel {
  height: auto;
}

.home-text h1 {
  font-size: var(--big-font);
  margin: 15px 0 15px;
}

.home-text h6 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin-bottom: 48px;
}

.latter form {
  color: var(--text-color);
  width: 100%;
  max-width: 370px;
  position: relative;
}

.latter form input:first-child {
  display: inline-block;
  backdrop-filter: blur(10px);
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
}

.latter form input:last-child {
  position: absolute;
  display: inline-block;
  border: none;
  outline: none;
  background: var(--main-color);
  color: var(--bg-color);
  padding: 16px 40px;
  border-radius: 30px;
  cursor: pointer;
  top: 2px;
  right: 1px;
}

.home-img img {
  height: auto;
  width: 100%;
}

header.sticky {
  border-right: 1px solid var(--defborder);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}

.container {
  padding: 70px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.container-box {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  border: 1px solid var(--defborder);
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -11.729px -11.729px 32px rgba(39, 39, 39, 0.15);
  transition: all 0.4s ease;
}

.container-box:hover {
  transform: translateY(-10px);
}

.container-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.container-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}

.center-text {
  text-align: center;
}

.center-text h5 {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.center-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}

.blur {
  border: 1px solid var(--defborder);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 5%;
}

.blur-text {
  border: 1px solid var(--defborder);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  padding: 20px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 60%;
  font-weight: 300;
  font-size: 50px;
  min-width: 410px;
  max-width: 420px;
  height: 100px;
}

.categories-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;
}

.box img {
  height: auto;
  width: 110px;
  margin-bottom: 20px;
}

.box {
  padding: 25px 60px;
  border: 1px solid var(--defborder);
  border-radius: 20px;
  box-shadow: -11.729px -11.729px 32px rgba(39, 39, 39, 0.15);
  transition: all 0.4s ease;
}

.box:hover {
  transform: translateY(-10px);
}

.box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all 0.4s ease;
}

.box h3:hover {
  color: var(--main-color);
}

.box p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}

.main-btn {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--main-color);
  color: var(--bg-color);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.btn:hover {
  background: transparent;
  padding: 16px 40px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.courses {
  /* background: url(../img/coursebg.png); */
  background-size: cover;
  background-position: center;
}

.courses-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 15px;
}

.row {
  background: var(--bg-color);
  border: 1px solid var(--defborder);
  padding: 0px 0px 10px 0px;
  border-radius: 20px;
  box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
  transition: all 0.4s ease;
}

.row:hover {
  background: transparent;
  backdrop-filter: blur(20px);
  transform: translateY(-10px);
}

.row img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.courses-text {
  padding: 35px 20px;
}

.courses-text h5 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}

.courses-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all 0.4s ease;
}

.courses-text h3:hover {
  color: var(--main-color);
}

.courses-text h6 {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.star i {
  color: var(--main-color);
  margin-right: 2px;
  font-size: 17px;
}

.review p {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  letter-spacing: 1px;
}

.cta-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.about {
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.hoem {

  background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("https://i.hizliresim.com/2og4wvn.gif") no-repeat;

}

.about-img img {
  width: 100%;
  height: auto;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
  margin-bottom: 20px;
}

.about-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.about-text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-text h5 {
  font-size: 20px;
  margin-bottom: 40px;
}

.contact {

  padding: 60px 13%;
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
}

.contact-content img {
  height: auto;
  width: 100px;
  max-width: 100%;
  margin-bottom: 30px;
}

.contact-content li {
  margin-bottom: 18px;
}

.contact-content li a {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
  transition: all 0.4s ease;
}

.contact-content li a:hover {
  transform: translateX(10px);
  color: var(--main-color);
}

.last-text p {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: 1px solid var(--defborder);
  border-radius: 5px;
  backdrop-filter: blur(20px);
  text-align: center;
  padding: 18px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.last-text a {
  color: var(--main-color);
}

footer {

  background: none;
  backdrop-filter: blur(20px);

}

.footer-distributed {
  border: 1px solid var(--defborder);
  border-radius: 10px;
  background: none;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 55px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: var(--main-color);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 30px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--main-color);
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}