* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
}

.nav {

    position: absolute;
    top: 0%;
    width: 100%;
    height: 7%;
    left: 0%;
}

.nav ul li {
    list-style-type: none;
    margin-right: 3%;
    margin-top: 1%;
    float: right;
    color: antiquewhite;
    font-size: 25px;
}

.nav ul {
    margin-right: 2%;
}

.nav ul li:hover {
    border-bottom: 1px solid #ff0000;
    transition: all 0.5s ease-in;
}

.carousel {
    width: 80%;
    height: 40%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.d-block {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}



.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;

}

.card {
    border-radius: 25px;
    background-color: rgba(12, 13, 16, 0.5);
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.card-image {
    position: relative;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #008000;
}

.button2 {
   background-color: yellowgreen;
}

.button2:hover {
    background: #008000;
}

.swiper {
    margin-top: 30%;
    margin-bottom: 15%;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

.ekip {
    width: 100%;
    height: 15%;
    background-color: #ff0000;
    position: relative;
    left: auto;
    right: auto;
}








body .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

body .container .card {
    position: relative;
   
    width: 300px;
    height: 400px;
    margin: 1em;
    backdrop-filter: blur(40px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #00800080;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}

body .container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

body .container .card .content .img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

body .container .card .content .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body .container .card .content .cardContent h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

body .container .card .content .cardContent h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

body .container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

body .container .card .sci li {
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

body .container .card .sci li a {
    font-size: 24px;
    transition: all .3s;
    color: white;
}

body .card:hover{

    background-color: rgba(12, 13, 16, 0.8);

}

body .container .card:hover .content {
    opacity: 1;
   
    transform: translateY(-20px);
}

body .container .card:hover .sci li {
    
    transform: translateY(0px);
    opacity: 1;
}

body .container .card:hover .sci li a:hover {
    
    color: #008000;
}

.container ul {
    list-style-type: none;
}